@charset "utf-8";

/* パン工房木の実 */

/* body設定
---------------------------*/
body {
  background-image: none;
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
  line-height: 1.5em;
  
}

/* 見出しの書体
---------------------------*/

header,
h2,
h3,
global,
th,
dt {
  font-family: 'Noto Sans JP', sans-serif;
}
/* wrapperの設定
---------------------------*/
.wrapper {
  width: 900px;
  background-color: #fff;
  margin: 0 auto;
}


/* headerの設定
---------------------------------------*/
header {
  padding: 220px 0 100px 20px;
  background: url(https://github.com/yumi-portfolio/yumi.github.io/blob/main/images/pan_dai.jpg?raw=true);
  background-size: cover;
  color: #fff;
}

header h1 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 70px;
  text-shadow: 2px 2px 2px #000;
  background-image: url(../images/pan_logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 64px;
  margin-bottom: 10px;
  position: relative;
  left: 10px;
  top: 100px;
}

header p {
  font-size: 0.9375em;
  font-weight: 400;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  padding-left: 10px;
  padding-top: 90px;
}

nav.global {
  background-color: #fc9;
  height: 30px;
  margin-top: 5px;
}

nav.global ul li {
  width: 20%;
  float: left;
}

nav.global ul li a {
  display: block;
  color: #030;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  border-right: 1px solid #030;
  background-color: #fff;
}

nav.global ul li:last-child a {
  border-right: none;
}

nav.global ul li a:hover span {
  border-bottom: 3px solid #356f2d;
  padding: 0 1em;
}

/*---ページ毎ごとのナビの設定（テキスト18,19ページ）---*/

.index nav.global li:nth-child(1) a span,
.tool nav.global li:nth-child(2) a span,
.catalog nav.global li:nth-child(3) a span,
.common nav.global li:nth-child(4) a span {
  color: #b27616;
  border-bottom: 3px solid #b27616;
  padding: 0 1em;
}

/* container
---------------------------*/
.container {
  margin: 20px 30px 30px;
}

/* main
---------------------------*/
main {
  width: 630px;
  background-color: #fff;
  float: left;
}


main h2 {
  font-weight: 500;
  font-size: 1.25em;
  background-color: #fff;
  line-height: 28px;
  margin-bottom: 15px;
  /*clear: both;*/
}

main p {
  margin-bottom: 10px;
  margin-left: 24px;
  text-align: justify;
}

/* main section
---------------------------*/

main section {
  margin-bottom: 20px;
}

main section h2 {
  color:darkseagreen;
    
}
main section:last-child {
  margin-bottom: 0;
}

main .commentary {
  width: 320px;
  float: left;
}

main h3 img {
  width: 250px;
  height: 200px;
  padding-left: 40px;
  
}
/*table内^~~~~~~~~~~~~~~~~~~~~*/

main table {
    border: 1px solid #333;
    margin-left: 24px;
}

main td {
    border: 1px solid #333;
    padding: 5px;
    vertical-align: top;
}

main td p {
    margin-right: 10px;
    margin-bottom: 0;
}

main th {
    font-weight: 500;
    font-size: 1.125em;
    background-color: #568300;
    color: #fff;
    line-height: 40px;
    padding-left: 24px;
}

/*--- インフォメーション ---*/
.info {
  border: 1px solid #030;
  padding: 10px;
  margin-left: 24px;
  height: 118px;
  overflow-y: auto;
}

.info dt {
  color: #666;
  font-weight: 500;
  border-bottom: 2px dotted #ccc;
  margin-bottom: 8px;
}

.info dd {
  font-size: 0.875em;
  margin-bottom: 8px;
}

/* aside
---------------------------*/

aside {
  margin-top: 13px;
  width: 180px;
  float: right;
}

aside .ad {
  margin-bottom: 10px;
}

aside .ad img {
  vertical-align: bottom;
}

/* footer
---------------------------*/

footer {
  /*clear: both;*/
  background-color: #fff;
  color: #000;
  padding: 20px 30px;
}

footer section {
  width: 350px;
  float: left;
}

footer h2 {
  font-weight: 300;
  font-size: 1.25em;
  line-height: 40px;
  background-image: url(../images/pan_logo_s.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  margin-bottom: 10px;
}

footer address {
  font-size: 0.75em;
  line-height: 1.8em;
  margin-left: 12px;
  background-image: url(../images/free_dial.png);
  background-repeat: no-repeat;
  background-position: 0 2px;
  padding-left: 30px;
}

footer .local {
  width: 450px;
  text-align: right;
  float: right;
  margin-top: 10px;
}

footer .local li {
  display: inline-block;
}

footer .local li a {
  color: #fff;
  font-size: 0.875em;
  text-decoration: none;
  margin-left: 20px;
}

footer .local li a:hover {
  border-bottom: 1px solid #fff;
}

footer hr {
  clear: both;
  height: 1px;
  background-color: #fff;
  border: none;
  margin-top: 130px;
}

footer small {
  display: block;
  text-align: center;
  margin-top: 15px;
}

/* tool メニュー
---------------------------------------*/
main h3 {
  font-weight: 500;
  font-size: 1.125em;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  margin-bottom: 10px;
}

.column p img {
  float: left;
  margin-right: 20px;
  background-color: #fff;
  padding: 8px 8px 20px;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* お店のこだわり
---------------------------------------*/
main h3 {
  font-weight: 500;
  font-size: 1.125em;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  margin-bottom: 10px;
}

.column p img {
  float: left;
  margin-right: 20px;
  background-color: #fff;
  padding: 8px 8px 20px;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


}





/* 店舗情報 common
---------------------------------------*/

main h2 {
  font-weight: 300;
  font-size: 1.125em;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  margin-bottom: 10px;
}

.column p img {
  margin-right: 20px;
  background-color: #fff;
  padding: 8px 8px 20px;
  margin-left: 20px;
  border: 2px solid #aaa;
 
}

.pagetop {
  text-align: right;
  margin-bottom: 0;
}

.pagetop a {
  color: #00f;
}

.pagetop a:hover {
  color: #f00;
  text-decoration: none;
}
